body{
	background-image: url("../Imagenes/VacasFondos.jpg");
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	width: 90%;

	
}
.jumbotron{
	background-image:url("../Imagenes/VacasFondos3.jpg");
	padding: 70px;
	background-size: 950px;
	background-position: center;
}
.jumbotron .lead{
	color: white;
}
.jumbotron .titulo{
	color:  white;
}
.card{
	max-width: 100%;
}